body {
  text-align: center;
  font-family: verdana;
}

table {
  border: 1px solid black;
  margin: auto;
}

p {
  text-align: justify;
}

th, td {
  padding: 0 1em 0.5ex; 
}

svg {
  background-color: #cccccc;
}

#footer {
  font-size: 12px;
  text-align: justify;
}
