body {
  background-image: url("running.jpg");
  text-align: center;
  font-family: verdana;
}

#container {
  height: auto;
  width: auto;
  border: 1px solid black;
  background-color: #cccccc;
  opacity: 0.9;
}

#intro {
  background: #cccccc;
  text-align: justify;
}

#conclusion {
  background: #cccccc
  text-align: justify;
}

#running {
  border: 1px solid black;
  font-size: 12px;
}

#running th, td { padding: 0 1em 0.5ex; }
#running tr { background: #eee; }
#running tr:nth-child(even) { background: #FFF; }
#running tr:nth-child(odd) {background: #cccccc; }
#running th.center, td.center { text-align: center; }
#running th.num, td.num { text-align: right; }

p { text-align: justify; }

.bar-chart { float: left; }
#bar-chart-footer{ float: inherit; }
.scatter-plot { float: left; }
#scatter-plot-footer { float: inherit; }

#footer {
  font-size: 12px;
  text-align: justify;
}

.button {
  background-color: crimson;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-left: 2px;
}

.button:hover {
  background-color: green;
}

div.tooltip {
        position: absolute;
        width: 270px;
        height: auto;
        padding: 10px;
        background-color: lightgreen;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
      }

      div.tooltip.hidden {
        display: none;
      }

      div.tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
      }
